/* Color Set */
:root {
    --Color-YGreen-50 : #FAFDE8;
    --Color-YGreen-100: #F0FABD;
    --Color-YGreen-200: #E4F797;
    --Color-YGreen-300: #D2F25F;
    --Color-YGreen-400: #BCE935;
    --Color-YGreen-500: #A0DA11;
    --Color-YGreen-600: #79AA0D;
    --Color-YGreen-700: #537B0A;
    --Color-YGreen-800: #3D5E08;
    --Color-YGreen-900: #294206;
   
    --Color-Blue-50 : #E6F7FF;
    --Color-Blue-100: #B3E4FF;
    --Color-Blue-200: #8FD4FF;
    --Color-Blue-300: #5CBBFF;
    --Color-Blue-400: #33A3FF;
    --Color-Blue-500: #0A89FF;
    --Color-Blue-600: #006CE0;
    --Color-Blue-700: #0050B3;
    --Color-Blue-800: #00398A;
    --Color-Blue-900: #001D4D;
    
    --Color-GrayCool-50 : #F3F5F7;
    --Color-GrayCool-100: #E1E6EB;
    --Color-GrayCool-200: #C7CDD3;
    --Color-GrayCool-300: #AAB4BE;
    --Color-GrayCool-400: #919BA5;
    --Color-GrayCool-500: #78828C;
    --Color-GrayCool-600: #5F6973;
    --Color-GrayCool-700: #46505A;
    --Color-GrayCool-800: #2D3741;
    --Color-GrayCool-900: #141E28;
    
    --Color-Gray-50 : #F5F5F5;
    --Color-Gray-100: #E5E5E5;
    --Color-Gray-200: #C2C2C2;
    --Color-Gray-300: #A8A8A8;
    --Color-Gray-400: #8D8D8D;
    --Color-Gray-500: #666666;
    --Color-Gray-600: #525252;
    --Color-Gray-700: #393939;
    --Color-Gray-800: #262626;
    --Color-Gray-900: #161616;
    
    --Color-White: #ffffff;
    --Color-Black: #000000;
    --Color-Add: #F9FAFB;
    
    --Color-Alert-R: #FF333D;
    --Color-Alert-O: #FF832B;
    --Color-Alert-Y: #FFBC00;
    --Color-Alert-G: #009929;
    --Color-Alert-B: #0F62FE;
    
    --Color-AlertLine-R: #F8C0C3;
    --Color-AlertLine-O: #F8D7C0;
    --Color-AlertLine-Y: #F8E9C0;
    --Color-AlertLine-G: #C0F8CF;
    --Color-AlertLine-B: #C0D7F8;
    
    --Color-AlertW-R: #FDF6F6;
    --Color-AlertW-O: #FFF3EA;
    --Color-AlertW-Y: #FFF9EA;
    --Color-AlertW-G: #EEFBF1;
}

@font-face {
    font-family: 'Pretendard-Header1';
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    src: url(/font/Pretendard-Bold.woff2) format('woff2'),
    url(/font/Pretendard-Bold.woff) format('woff'),
    url(/font/Pretendard-Bold.otf) format('opentype');
    letter-spacing: -0.02em;
}
@font-face {
    font-family: 'Pretendard-Header2';
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    src: url(/font/Pretendard-Bold.woff2) format('woff2'),
    url(/font/Pretendard-Bold.woff) format('woff'),
    url(/font/Pretendard-Bold.otf) format('opentype');
    letter-spacing: -0.02em;
}
@font-face {
    font-family: 'Pretendard-Header3';
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    src: url(/font/Pretendard-Bold.woff2) format('woff2'),
    url(/font/Pretendard-Bold.woff) format('woff'),
    url(/font/Pretendard-Bold.otf) format('opentype');
    letter-spacing: -0.02em;
}
@font-face {
    font-family: 'Pretendard-Header4';
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    src: url(/font/Pretendard-Bold.woff2) format('woff2'),
    url(/font/Pretendard-Bold.woff) format('woff'),
    url(/font/Pretendard-Bold.otf) format('opentype');
    letter-spacing: -0.02em;
}
@font-face {
    font-family: 'Pretendard-Header5';
    font-style: normal;
    font-weight: 700;
    font-style: normal;
    src: url(/font/Pretendard-Bold.woff2) format('woff2'),
    url(/font/Pretendard-Bold.woff) format('woff'),
    url(/font/Pretendard-Bold.otf) format('opentype');
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
@font-face {
    font-family: 'Pretendard-Header6';
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    src: url(/font/Pretendard-SemiBold.woff2) format('woff2'),
    url(/font/Pretendard-SemiBold.woff) format('woff'),
    url(/font/Pretendard-SemiBold.otf) format('opentype');
    letter-spacing: -0.02em;
    text-transform: capitalize;
}
@font-face {
    font-family: 'Pretendard-subtitle';
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    src: url(/font/Pretendard-Medium.woff2) format('woff2'),
    url(/font/Pretendard-Medium.woff) format('woff'),
    url(/font/Pretendard-Medium.otf) format('opentype');

}

@font-face {
    font-family: 'Pretendard-Body';
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    src: url(/font/Pretendard-Regular.woff2) format('woff2'),
    url(/font/Pretendard-Regular.woff) format('woff'),
    url(/font/Pretendard-Regular.otf) format('opentype');
   
}

@font-face {
    font-family: 'Pretendard-Button1';
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    src: url(/font/Pretendard-SemiBold.woff2) format('woff2'),
    url(/font/Pretendard-SemiBold.woff) format('woff'),
    url(/font/Pretendard-SemiBold.otf) format('opentype');

}
@font-face {
    font-family: 'Pretendard-Button2';
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    src: url(/font/Pretendard-Medium.woff2) format('woff2'),
    url(/font/Pretendard-Medium.woff) format('woff'),
    url(/font/Pretendard-Medium.otf) format('opentype');

}

@font-face {
    font-family: 'Pretendard-Caption1';
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    src: url(/font/Pretendard-Medium.woff2) format('woff2'),
    url(/font/Pretendard-Medium.woff) format('woff'),
    url(/font/Pretendard-Medium.otf) format('opentype');

}
@font-face {
    font-family: 'Pretendard-Caption2';
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    src: url(/font/Pretendard-Regular.woff2) format('woff2'),
    url(/font/Pretendard-Regular.woff) format('woff'),
    url(/font/Pretendard-Regular.otf) format('opentype');

}
@font-face {
    font-family: 'Pretendard-Overline';
    font-style: normal;
    font-weight: 500;
    font-style: normal;
    src: url(/font/Pretendard-Medium.woff2) format('woff2'),
    url(/font/Pretendard-Medium.woff) format('woff'),
    url(/font/Pretendard-Medium.otf) format('opentype');

}

.font_H1{
	 font-family: 'Pretendard-Header1';
	 letter-spacing: -0.02em;
}
.font_H2{
	 font-family: 'Pretendard-Header2';
	 letter-spacing: -0.02em;
}
.font_H3{
	 font-family: 'Pretendard-Header3';
	 letter-spacing: -0.02em;
}
.font_H4{
	 font-family: 'Pretendard-Header4';
	 letter-spacing: -0.02em;
}
.font_H5{
	 font-family: 'Pretendard-Header5';
	 letter-spacing: -0.02em;
}
.font_H6{
	 font-family: 'Pretendard-Header6';
	 letter-spacing: -0.02em;
}
.font_Sub1{
	 font-family: 'Pretendard-subtitle';
	 letter-spacing: -0.02em;
}
.font_Sub2{
	 font-family: 'Pretendard-subtitle';
	 letter-spacing: -0.02em;
}
.font_Body1{
	 font-family: 'Pretendard-Body';
	 letter-spacing: -0.02em;
}
.font_Body2{
	 font-family: 'Pretendard-Body';
	 letter-spacing: -0.02em;
}
.font_Btn1{
	 font-family: 'Pretendard-Button1';
	 letter-spacing: -0.02em;
}
.font_Btn2{
	 font-family: 'Pretendard-Button2';
	 letter-spacing: -0.02em;
}
.font_C1{
	 font-family: 'Pretendard-Caption1';
	 letter-spacing: -0.02em;
}
.font_C2{
	 font-family: 'Pretendard-Caption2';
	 letter-spacing: -0.02em;
}
.font_Overline{
	 font-family: 'Pretendard-Overline';
	 letter-spacing: -0.02em;
}

/* Default Set */
* {
	margin: 0px;
	padding: 0px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
	}

html, body {
    width: 100vw;
    height: 100vh;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-none: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	}

button {
	position: relative;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	}
	
div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Default Set End*/	


.svg_default {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}

.flex_center{
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.flex_left{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}
.flex_right{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
}
.flex_between{
	display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    text-align: right;
}
.flex_between_around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    text-align: right;
}


/*  최대 너비 319px */
@media (max-width: 319px) {
	.font_H1{
		font-size: 38px;
	}
	.font_H2{
		font-size: 30px;
	}
	.font_H3{
		font-size: 26px;
	}
	.font_H4{
	    font-size: 22px;
	}
	.font_H5{
		font-size: 20px;
	}
	.font_H6{
		font-size: 16px;
	}
	.font_Sub1{
		font-size: 14px;
	}
	.font_Sub2{
		font-size: 12px;
	}
	.font_Body1{
		font-size: 14px;
	}
	.font_Body2{
		font-size: 12px;
	}
	.font_Btn1{
		font-size: 16px;
	}
	.font_Btn2{
		font-size: 16px;
	}
	.font_C1{
		font-size: 10px;
	}
	.font_C2{
		font-size: 10px;
	}
	.font_Overline{
		font-size: 8px;
	}
	.icon10{
		width: 8px;
		height: 8px;
	}
	.icon20{
		width: 12px;
		height: 12px;
	}
	.icon30{
		width: 16px;
		height: 16px;
	}
	.icon40{
		width: 20px;
		height: 20px;
	}
	.icon100{
		width: 28px;
		height: 28px;
	}
	.icon200{
		width: 32px;
		height: 32px;
	}
	.icon300{
		width: 36px;
		height: 36px;
	}
	.icon400{
		width: 40px;
		height: 40px;
	}
}

/* 최소 너비 320px 이상, 최대 너비 359px 이하 */
@media (min-width: 320px) and (max-width: 359px) {
	.font_H1{
		font-size: 39px;
	}
	.font_H2{
		font-size: 31px;
	}
	.font_H3{
		font-size: 27px;
	}
	.font_H4{
	    font-size: 23px;
	}
	.font_H5{
		font-size: 21px;
	}
	.font_H6{
		font-size: 17px;
	}
	.font_Sub1{
		font-size: 15px;
	}
	.font_Sub2{
		font-size: 13px;
	}
	.font_Body1{
		font-size: 15px;
	}
	.font_Body2{
		font-size: 13px;
	}
	.font_Btn1{
		font-size: 17px;
	}
	.font_Btn2{
		font-size: 17px;
	}
	.font_C1{
		font-size: 11px;
	}
	.font_C2{
		font-size: 11px;
	}
	.font_Overline{
		font-size: 9px;
	}
	.icon10{
		width: 10px;
		height: 10px;
	}
	.icon20{
		width: 14px;
		height: 14px;
	}
	.icon30{
		width: 18px;
		height: 18px;
	}
	.icon40{
		width: 22px;
		height: 22px;
	}
	.icon100{
		width: 30px;
		height: 30px;
	}
	.icon200{
		width: 34px;
		height: 34px;
	}
	.icon300{
		width: 38px;
		height: 38px;
	}
	.icon400{
		width: 42px;
		height: 42px;
	}
}

/*  최소 너비 360px 이상, 최대 너비 479px 이하 */
@media (min-width: 360px) and (max-width: 479px) {
	.font_H1{
		font-size: 40px;
	}
	.font_H2{
		font-size: 32px;
	}
	.font_H3{
		font-size: 28px;
	}
	.font_H4{
	    font-size: 24px;
	}
	.font_H5{
		font-size: 22px;
	}
	.font_H6{
		font-size: 18px;
	}
	.font_Sub1{
		font-size: 16px;
	}
	.font_Sub2{
		font-size: 14px;
	}
	.font_Body1{
		font-size: 16px;
	}
	.font_Body2{
		font-size: 14px;
	}
	.font_Btn1{
		font-size: 18px;
	}
	.font_Btn2{
		font-size: 18px;
	}
	.font_C1{
		font-size: 12px;
	}
	.font_C2{
		font-size: 12px;
	}
	.font_Overline{
		font-size: 10px;
	}
	.icon10{
		width: 12px;
		height: 12px;
	}
	.icon20{
		width: 16px;
		height: 16px;
	}
	.icon30{
		width: 20px;
		height: 20px;
	}
	.icon40{
		width: 24px;
		height: 24px;
	}
	.icon100{
		width: 32px;
		height: 32px;
	}
	.icon200{
		width: 36px;
		height: 36px;
	}
	.icon300{
		width: 40px;
		height: 40px;
	}
	.icon400{
		width: 44px;
		height: 44px;
	}
}

/* 태블릿 */
@media (min-width: 480px) and (max-width: 767px) {
	.font_H1{
		font-size: 42px;
	}
	.font_H2{
		font-size: 34px;
	}
	.font_H3{
		font-size: 30px;
	}
	.font_H4{
	    font-size: 26px;
	}
	.font_H5{
		font-size: 24px;
	}
	.font_H6{
		font-size: 20px;
	}
	.font_Sub1{
		font-size: 18px;
	}
	.font_Sub2{
		font-size: 16px;
	}
	.font_Body1{
		font-size: 18px;
	}
	.font_Body2{
		font-size: 16px;
	}
	.font_Btn1{
		font-size: 20px;
	}
	.font_Btn2{
		font-size: 20px;
	}
	.font_C1{
		font-size: 14px;
	}
	.font_C2{
		font-size: 14px;
	}
	.font_Overline{
		font-size: 12px;
	}
	.icon10{
		width: 14px;
		height: 14px;
	}
	.icon20{
		width: 18px;
		height: 18px;
	}
	.icon30{
		width: 22px;
		height: 22px;
	}
	.icon40{
		width: 26px;
		height: 26px;
	}
	.icon100{
		width: 34px;
		height: 34px;
	}
	.icon200{
		width: 38px;
		height: 38px;
	}
	.icon300{
		width: 42px;
		height: 42px;
	}
	.icon400{
		width: 46px;
		height: 46px;
	}
}

/* 작은 PC */
@media (min-width: 768px) and (max-width: 991px) {
	.font_H1{
		font-size: 43px;
	}
	.font_H2{
		font-size: 35px;
	}
	.font_H3{
		font-size: 31px;
	}
	.font_H4{
	    font-size: 27px;
	}
	.font_H5{
		font-size: 25px;
	}
	.font_H6{
		font-size: 21px;
	}
	.font_Sub1{
		font-size: 19px;
	}
	.font_Sub2{
		font-size: 17px;
	}
	.font_Body1{
		font-size: 19px;
	}
	.font_Body2{
		font-size: 17px;
	}
	.font_Btn1{
		font-size: 21px;
	}
	.font_Btn2{
		font-size: 21px;
	}
	.font_C1{
		font-size: 15px;
	}
	.font_C2{
		font-size: 15px;
	}
	.font_Overline{
		font-size: 13px;
	}
	.icon10{
		width: 16px;
		height: 16px;
	}
	.icon20{
		width: 20px;
		height: 20px;
	}
	.icon30{
		width: 24px;
		height: 24px;
	}
	.icon40{
		width: 28px;
		height: 28px;
	}
	.icon100{
		width: 36px;
		height: 36px;
	}
	.icon200{
		width: 40px;
		height: 40px;
	}
	.icon300{
		width: 44px;
		height: 44px;
	}
	.icon400{
		width: 48px;
		height: 48px;
	}
}

/* 일반 PC */
@media (min-width: 992px) and (max-width: 1199px) {
	.font_H1{
		font-size: 44px;
	}
	.font_H2{
		font-size: 36px;
	}
	.font_H3{
		font-size: 32px;
	}
	.font_H4{
	    font-size: 28px;
	}
	.font_H5{
		font-size: 26px;
	}
	.font_H6{
		font-size: 22px;
	}
	.font_Sub1{
		font-size: 20px;
	}
	.font_Sub2{
		font-size: 18px;
	}
	.font_Body1{
		font-size: 20px;
	}
	.font_Body2{
		font-size: 18px;
	}
	.font_Btn1{
		font-size: 22px;
	}
	.font_Btn2{
		font-size: 22px;
	}
	.font_C1{
		font-size: 16px;
	}
	.font_C2{
		font-size: 16px;
	}
	.font_Overline{
		font-size: 14px;
	}
	.icon10{
		width: 18px;
		height: 18px;
	}
	.icon20{
		width: 22px;
		height: 22px;
	}
	.icon30{
		width: 26px;
		height: 26px;
	}
	.icon40{
		width: 30px;
		height: 30px;
	}
	.icon100{
		width: 38px;
		height: 38px;
	}
	.icon200{
		width: 42px;
		height: 42px;
	}
	.icon300{
		width: 46px;
		height: 46px;
	}
	.icon400{
		width: 50px;
		height: 50px;
	}
	
}

/* 큰 PC */
@media (min-width: 1200px) and (max-width: 1399px) {
	.font_H1{
		font-size: 45px;
	}
	.font_H2{
		font-size: 37px;
	}
	.font_H3{
		font-size: 33px;
	}
	.font_H4{
	    font-size: 29px;
	}
	.font_H5{
		font-size: 27px;
	}
	.font_H6{
		font-size: 23px;
	}
	.font_Sub1{
		font-size: 21px;
	}
	.font_Sub2{
		font-size: 19px;
	}
	.font_Body1{
		font-size: 21px;
	}
	.font_Body2{
		font-size: 19px;
	}
	.font_Btn1{
		font-size: 23px;
	}
	.font_Btn2{
		font-size: 23px;
	}
	.font_C1{
		font-size: 17px;
	}
	.font_C2{
		font-size: 17px;
	}
	.font_Overline{
		font-size: 15px;
	}
	.icon10{
		width: 20px;
		height: 20px;
	}
	.icon20{
		width: 24px;
		height: 24px;
	}
	.icon30{
		width: 28px;
		height: 28px;
	}
	.icon40{
		width: 32px;
		height: 32px;
	}
	.icon100{
		width: 40px;
		height: 40px;
	}
	.icon200{
		width: 44px;
		height: 44px;
	}
	.icon300{
		width: 48px;
		height: 48px;
	}
	.icon400{
		width: 52px;
		height: 52px;
	}

}

/* 매우 큰 PC */
@media (min-width: 1400px) {
	.font_H1{
		font-size: 46px;
	}
	.font_H2{
		font-size: 38px;
	}
	.font_H3{
		font-size: 34px;
	}
	.font_H4{
	    font-size: 30px;
	}
	.font_H5{
		font-size: 28px;
	}
	.font_H6{
		font-size: 24px;
	}
	.font_Sub1{
		font-size: 22px;
	}
	.font_Sub2{
		font-size: 20px;
	}
	.font_Body1{
		font-size: 22px;
	}
	.font_Body2{
		font-size: 20px;
	}
	.font_Btn1{
		font-size: 24px;
	}
	.font_Btn2{
		font-size: 24px;
	}
	.font_C1{
		font-size: 18px;
	}
	.font_C2{
		font-size: 18px;
	}
	.font_Overline{
		font-size: 16px;
	}
	.icon10{
		width: 22px;
		height: 22px;
	}
	.icon20{
		width: 26px;
		height: 26px;
	}
	.icon30{
		width: 30px;
		height: 30px;
	}
	.icon40{
		width: 34px;
		height: 34px;
	}
	.icon100{
		width: 42px;
		height: 42px;
	}
	.icon200{
		width: 46px;
		height: 46px;
	}
	.icon300{
		width: 50px;
		height: 50px;
	}
	.icon400{
		width: 54px;
		height: 54px;
	}
	
}



