@charset "utf-8";
@import url("font_kr.css");
@import url("font_en.css");
@import url("font_ja.css");

/* 작성자 : 강다현(kl4058@gmail.com) / 최초작성일 : 2023-08-01 버전 1.1.0 */



/******************** RESET ********************/

* { caret-color: transparent; padding: 0; margin: 0; border: 0; outline: 0; box-sizing: border-box; vertical-align: middle; }
::before, ::after { box-sizing: border-box; }
:focus { outline: 0; }
html { width: 100%; height: 100%; -webkit-text-size-adjust: none; /*color: var(--color-white);*/ font: 400 16px/1.4 var(--font-family-ko); }
body { overflow: hidden; word-break: keep-all; -webkit-overflow-scrolling: touch; }
h1, h2, h3, h4, h5, h6 { display: inline-block; font-weight: var(--font-weight-500); }
b, strong { font-weight: 400; }
i, em, address { font-style: normal; }
input, select, textarea { font-family: inherit; vertical-align: middle; outline: none; -webkit-appearance: none; appearance: none; box-shadow: none; }
input[type="password"] { font-family: var(--font-family-num); }
input[type=number]::-webkit-inner-spin-button { opacity: 1; margin-left: 8px; }
textarea { resize: none; }
label { cursor: pointer; }
fieldset, img, iframe { border: none; }
img { outline: none; }
a, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }
menu, li { list-style: none; }
button { font-family: inherit; cursor: pointer; vertical-align: middle; background: none; }
caption { width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; }
table { border-spacing: 0; border-collapse: collapse; }
th, td { text-align: left; }
mark { background: none; }
canvas { display: block; width: 100%; height: 100%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
header{
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}



/******************** COMMON ********************/

:root {
	
	/* Font */
	--font-family-ko: 'Pretendard', 'Malgun Gothic', sans-serif;
	--font-family-en: 'Roboto', 'Malgun Gothic', 'Dotum', sans-serif;
	--font-family-ja: 'Koruri', 'Malgun Gothic', 'Dotum', sans-serif;
	--font-family-num: 'Roboto', 'Malgun Gothic', sans-serif;
	--font-family-ttf: 'Abel','SDGothic', serif;

	--font-11px: 0.5rem;
	--font-12px: 0.6rem;
	--font-14px: 0.8rem; 
	--font-15px: 0.9rem; 
	--font-16px: 1rem; 
	--font-17px: 1.1rem; 
	--font-20px: 1.3rem; 

	--media-font-1380: 0.7rem;
	--media-font-1280: 0.6rem;
	--media-font-1060: 0.5rem;
	--media-font-740:  0.3rem;
	--media-font-580:  0.2rem;
	--media-font-420:  0rem;
	--media-font-320:  0.1rem;

	--icon-19px: 19px;
	--icon-24px: 24px;
	--icon-28px: 28px;
	--icon-30px: 30px;
	--icon-60px: 60px;

	--media-icon-1380: 7px;
	--media-icon-1280: 6px;
	--media-icon-1060: 5px;
	--media-icon-740:  3px;
	--media-icon-580:  2px;
	--media-icon-420:  0px;
	--media-icon-320:  1px;
	

	/* Black */
	--color-black: 		#000;
	--color-black-05: 	#222222;
	--color-black-10: 	#333333;
	--color-black-15:	#2F2F2F;
	--color-gray: 		#5F5F5F;
	--color-gray-05: 	#737373;
	--color-gray-10:	#F0F0F0;
	--color-gray-20:	#DEDEDE;
	--color-gray-25:	#9F9F9F;
	--color-gray-30:	#E0E0E0;
	--color-gray-35:	#F5F5F5;
	--color-gray-40:	#808080;
	--color-white: 		#FFFFFF;
	--color-blue:		#007AFF;
	--color-main-green: #C2E10F;
	--color-main-green-10: #B8D417;

}

html[lang="ko"] { font: var(--font-weight-400) var(--font-size-16px)/1.4 var(--font-family-ko); }
html[lang="en"] { font: var(--font-weight-400) var(--font-size-16px)/1.4 var(--font-family-en); }
html[lang="ja"] { font: var(--font-weight-400) var(--font-size-16px)/1.4 var(--font-family-ja); }



/* media */
@media (min-width: 1281px){
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-1380)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-1380)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1380)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1380)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-1380)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-1380)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-1380)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-1380)); height: calc(var(--icon-19px) + var(--media-icon-1380)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1380)); height: calc(var(--icon-24px) + var(--media-icon-1380)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-1380)); height: calc(var(--icon-28px) + var(--media-icon-1380)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1380)); height: calc(var(--icon-30px) + var(--media-icon-1380)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-1380)); height: calc(var(--icon-60px) + var(--media-icon-1380)); }
}
@media (max-width: 1280px){
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-1280)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-1280)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1280)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1280)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-1280)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-1280)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-1280)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-1280)); height: calc(var(--icon-19px) + var(--media-icon-1280)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1280)); height: calc(var(--icon-24px) + var(--media-icon-1280)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-1280)); height: calc(var(--icon-28px) + var(--media-icon-1280)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1280)); height: calc(var(--icon-30px) + var(--media-icon-1280)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-1280)); height: calc(var(--icon-60px) + var(--media-icon-1280)); }

}
@media (max-width: 1060px) {
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-1060)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-1060)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1060)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1060)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-1060)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-1060)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-1060)); }
	
	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-1060)); height: calc(var(--icon-19px) + var(--media-icon-1060)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1060)); height: calc(var(--icon-24px) + var(--media-icon-1060)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-1060)); height: calc(var(--icon-28px) + var(--media-icon-1060)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1060)); height: calc(var(--icon-30px) + var(--media-icon-1060)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-1060)); height: calc(var(--icon-60px) + var(--media-icon-1060)); }

}

@media (max-width: 740px) {
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-740)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-740)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-740)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-740)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-740)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-740)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-740)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-740)); height: calc(var(--icon-19px) + var(--media-icon-740)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-740)); height: calc(var(--icon-24px) + var(--media-icon-740)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-740)); height: calc(var(--icon-28px) + var(--media-icon-740)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-740)); height: calc(var(--icon-30px) + var(--media-icon-740)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-740)); height: calc(var(--icon-60px) + var(--media-icon-740)); }

}

@media (max-width: 580px) {
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-580)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-580)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-580)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-580)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-580)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-580)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-580)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-580)); height: calc(var(--icon-19px) + var(--media-icon-580)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-580)); height: calc(var(--icon-24px) + var(--media-icon-580)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-580)); height: calc(var(--icon-28px) + var(--media-icon-580)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-580)); height: calc(var(--icon-30px) + var(--media-icon-580)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-580)); height: calc(var(--icon-60px) + var(--media-icon-580)); }

}

@media (max-width: 420px) {
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-420)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-420)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-420)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-420)); }
	.font_16px { font-size: calc(var(--font-16px) + var(--media-font-420)); }
	.font_17px { font-size: calc(var(--font-17px) + var(--media-font-420)); }
	.font_20px { font-size: calc(var(--font-20px) + var(--media-font-420)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-420)); height: calc(var(--icon-19px) + var(--media-icon-420)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-420)); height: calc(var(--icon-24px) + var(--media-icon-420)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-420)); height: calc(var(--icon-28px) + var(--media-icon-420)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-420)); height: calc(var(--icon-30px) + var(--media-icon-420)); }	
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-420)); height: calc(var(--icon-60px) + var(--media-icon-420)); }

}

@media (max-width: 320px) {
	/* 폰트 사이즈 */
	.font_11px { font-size: calc(var(--font-11px) + var(--media-font-320)); }
	.font_12px { font-size: calc(var(--font-12px) + var(--media-font-320)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-320)); }
	.font_14px { font-size: calc(var(--font-14px) - var(--media-font-320)); }
	.font_15px { font-size: calc(var(--font-15px) - var(--media-font-320)); }
	.font_16px { font-size: calc(var(--font-16px) - var(--media-font-320)); }
	.font_17px { font-size: calc(var(--font-17px) - var(--media-font-320)); }
	.font_20px { font-size: calc(var(--font-20px) - var(--media-font-320)); }

	/* 아이콘 사이즈 */
	.icon_19 { width: calc(var(--icon-19px) + var(--media-icon-320)); height: calc(var(--icon-19px) - var(--media-icon-320)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-320)); height: calc(var(--icon-24px) - var(--media-icon-320)); }
	.icon_28 { width: calc(var(--icon-28px) + var(--media-icon-320)); height: calc(var(--icon-28px) + var(--media-icon-320)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-320)); height: calc(var(--icon-30px) + var(--media-icon-320)); }
	.icon_60 { width: calc(var(--icon-60px) + var(--media-icon-320)); height: calc(var(--icon-60px) + var(--media-icon-320)); }

}


/* common */
header{
	padding: 15px;
}
main{
	padding: 2px;
	height: 100%;
}
main > section{
	padding: 5px 0;
	width: 100%;
}
footer{
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: 100%;
	justify-content: space-evenly;
	border-top: 1px solid #B0B0B2;
}


/* font-weight */
.regular {
	font-family: 'Pretendard-regular';
	letter-spacing: -0.02em;
}
.medium {
	font-family: 'Pretendard-medium';
	letter-spacing: -0.02em;
}
.semibold {
	font-family: 'Pretendard-semibold';
	letter-spacing: -0.02em;
}
.bold {
	font-family: 'Pretendard-bold';
	letter-spacing: -0.02em;
}


/* font-color */
.color_black{
	color: var(--color-black);
}
.color_white{
	color: var(--color-white);
}
.color_black_05{
	color: var(--color-black-05);
}
.color_black_10{
	color: var(--color-black-10);
}
.color_black_15{
	color: var(--color-black-15);
}
.color_gray{
	color: var(--color-gray);
}
.color_gray_05{
	color: var(--color-gray-05);
}
.color_gray_10{
	color: var(--color-gray-10);
}
.color_gray_20{
	color: var(--color-gray-20);
}
.color_gray_25{
	color: var(--color-gray-25);
}
.color_gray_30{
	color: var(--color-gray-30);
}
.color_gray_35{
	color: var(--color-gray-35);
}
.color_gray_40{
	color: var(--color-gray-40);
}
.color_blue{
	color: var(--color-blue);
}
.color_mainGreen{
	color: var(--color-main-green);
}
.color_mainGreen_10{
	color: var(--color-main-green-10);
}
/* svg */
.svg_default {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}
.back_icon {
    background-image: url('../img/backIcon.svg');
}

.close_icon {
    background-image: url('../img/closeIcon.svg');
	position: absolute;
    top: -10px;
    right: -10px;
	display: none;
}

.video_icon {
    background-image: url('../img/videoIcon.svg');
}
.test_img{
	background-image: url(../img/test.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.home_icon{
	background-image: url(../img/homeIcon.svg);
}
.community_icon{
	background-image: url(../img/communityIcon.svg);
}
.place_icon{
	background-image: url(../img/placeIcon.svg);
}
.my3D_icon{
	background-image: url(../img/3dIcon.svg);
}
.my_icon{
	background-image: url(../img/myIcon.svg);
}
.menu_icon{
	background-image: url(../img/menuIcon.svg);
}
.girabee_icon{
	background-image: url(../img/girabeeIcon.svg);
}
.spain1_img{
	background-image: url(../img/spain1Img.svg);
}
.spain2_img{
	background-image: url(../img/spain2Img.svg);
}
.eye_icon{
	background-image: url(../img/eyeIcon.svg);
}
.send_icon{
	background-image: url(../img/sendIcon.svg);
}
.heart_icon{
	background-image: url(../img/heartIcon.svg);
}
.circleGreen_img{
	background-image: url(../img/circleGreenImg.svg);
}
.circleOrange_img{
	background-image: url(../img/circleOrangeImg.svg);
}
.circleBlue_img{
	background-image: url(../img/circleBlueImg.svg);
}
.circleIndigo_img{
	background-image: url(../img/circleIndigoImg.svg);
}
/* place_main */
main >section>article>div{
	padding: 5px 0;
}

.place_main .video_box{
	background-color: var(--color-gray-10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 70px 0;
    margin: 20px 0;
    max-height: 210px;
}

.place_main .video_box > .video_div{
	margin: 0 0 5px 0;
}


/* videoPopup */
.videoPopup{
	background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.videoPopup > article{
	width: 100%;
    margin: 5px;
}


/* errorPopup */
.errorPopup{
	background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
	padding: 25px;
    top: 0;
    left: 0;

	flex-direction: column;
    flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
}
.errorPopup > article{
	background-color: var(--color-white);
    padding: 10px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.errorPopup .btn_box{
	width: 100%;
}
.errorPopup .bottom_btn{
	background-color: var(--color-main-green);
    margin: 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.error_textBox{
	text-align: center;
    padding: 10px;
}
.error_textBox >.medium {
    padding: 15px;
	line-height: 1.5;
}




/* btn */
.videoPopup .pop_btn{
	background-color: var(--color-white);
    border-radius: 14px;
    margin: 10px 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoPopup .pop_btn:active{
	background-color: rgba(248, 248, 248, 0.82);  /* #F8F8F8 투명도 30% */
}

.bottom_btn{
	background-color: rgba(194, 225, 15, 0.3);
	margin: 0 20px 20px 20px; 
	padding: 15px 0;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
}
.bottom_btn_activ {
    background: var(--color-main-green);/* --color-main-green 투명도 30% */
	margin: 0 20px 20px 20px; 
	padding: 15px 0;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
}

/* Loading */
.loaderBox{
	display: none;	
	flex-direction: column;
	justify-content: center;
    align-items: center;
	height: 50%;
}
.loader {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.loader-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 7px solid var(--color-main-green);
	clip: rect(0, 50px, 100px, 0);
	transform: rotate(0deg);
	animation: fillProgressBar 1s linear forwards;
}
@keyframes fillProgressBar {
	0% { clip: rect(0, 50px, 100px, 0); transform: rotate(0deg); }
	100% { clip: rect(0, 100px, 100px, 0); transform: rotate(360deg); }
}
.loader-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loaderBox > .text_div{
	margin-top: 32px;
}

/*LabizBoard*/
.board{
	height: 100vh;
	width: 100vw;
}
.boardTitle{
	padding: 10px;
}
.line{
	height : 1px;
	background-color: #D9D9D9;
}

.icon-24px {
	width: 3.2rem;
	height: 3.2rem;
}

.smartEd{
	margin-left: 5px;
}
.modelling{
	margin-left: 20px;
}
.urlModelling {
	width: 335px;
	height: 48px;
	border-radius: 10px;
	border: 1px solid #DEDEDE;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
}

/*girabeeBoard*/
.spain1_img{
	width: 326px;
	height: 326px;
}
.spain2_img{
	width: 326px;
	height: 326px;
}

.title{
	margin-right: 10px;
}
.topTitle{
	margin-left: 13px;
}

.gBoard article{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
	padding: 5px;
}

.detail{
	padding: 18px;
	padding-top : 0;
}

.leaveCmnt{
	width: 268px;
	height: 33px;
	border-radius: 50px;
	border: 1px solid #E0E0E0;
	background-color: var(--color-gray-35);
	margin-right: 8px;
}
.gBoard{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}
.gBoard .place_main{
	overflow-y: scroll;
}

.gBoard footer{
	position: static;
}

.likeWatchSend{
	display: flex;
	justify-content: space-between;
	padding:15px;
}

.likeWatch{
	display: flex;
	justify-content: flex-start;
}

.likeWatch div{
	margin-right :6px;
}

.post{
	padding: 10px;
}
.post div{
	margin-right: 8px;
}

.comment{
	display: flex;
	flex-direction: column;
	padding : 10px;
}

.comment_list{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding : 5px;
}

.comment_list div{
	margin-right: 10px;
}

.comment_list div div{
	display: flex;
}
