@charset "utf-8";


@font-face {
    font-family: 'Inter-Bold';
    src: url('../font/kr/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../font/kr/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/kr/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/kr/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}