@charset "utf-8";
@import url("font_kr.css");
@import url("font_en.css");
@import url("font_ja.css");



/* 작성자 : 강다현(kl4058@gmail.com) / 최초작성일 : 2023-08-02 버전 1.0.0 */

/******************** RESET ********************/

* { caret-color: transparent; padding: 0; margin: 0; border: 0; outline: 0; box-sizing: border-box; vertical-align: middle; }
::before, ::after { box-sizing: border-box; }
:focus { outline: 0; }
html { width: 100%; height: 100%; -webkit-text-size-adjust: none;  }
body { width: 100%; height: 100%; overflow: hidden; word-break: keep-all; -webkit-overflow-scrolling: touch; }
h1, h2, h3, h4, h5, h6 { display: inline-block; font-weight: var(--font-weight-500); }
b, strong { font-weight: 400; }
i, em, address { font-style: normal; }
input, select, textarea { font-family: inherit; vertical-align: middle; outline: none; -webkit-appearance: none; appearance: none; box-shadow: none; }

input[type=number]::-webkit-inner-spin-button { opacity: 1; margin-left: 8px; }
textarea { resize: none; }
label { cursor: pointer; }
fieldset, img, iframe { border: none; }
img { outline: none; }
a, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }
menu, li { list-style: none; }
button { font-family: inherit; cursor: pointer; vertical-align: middle; background: none; }
caption { width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; }
hr { display: none; }
table { border-spacing: 0; border-collapse: collapse; }
th, td { text-align: left; }
mark { background: none; }
canvas { display: block; width: 100%; height: 100%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

/******************** COMMON ********************/

:root {
	
	/* Font */
	--font-family-ko: 'Pretendard', 'Malgun Gothic', sans-serif;
	--font-family-en: 'Roboto', 'Malgun Gothic', 'Dotum', sans-serif;
	--font-family-ja: 'Koruri', 'Malgun Gothic', 'Dotum', sans-serif;
	--font-family-num: 'Roboto', 'Malgun Gothic', sans-serif;

	--font-13px: 0.7rem; 
	--font-14px: 0.8rem; 
	--font-15px: 1.0rem; 
	--font-18px: 1.2rem; 

	--media-font-1380: 0.7rem;
	--media-font-1280: 0.6rem;
	--media-font-1060: 0.5rem;
	--media-font-740:  0.3rem;
	--media-font-580:  0.2rem;
	--media-font-420:  0rem;
	--media-font-320:  0.2rem;
	
	--icon-70px: 70px;
	--icon-35px: 35px;
	--icon-30px: 30px;
	--icon-24px: 24px;
	--icon-23px: 23px;

	--media-icon-1380: 10px;
	--media-icon-1280: 6px;
	--media-icon-1060: 5px;
	--media-icon-740:  3px;
	--media-icon-580:  2px;
	--media-icon-420:  0px;
	--media-icon-320:  3px;
	--bottom-btn:  	   10px;
	
	/* Green */
	--color-Green: #9BDE65;
	
	
	/* Blue  */
	--color-Blue: #0029FF;
	
	
	/* Gray */
	--color-gray: #2e3643;
	--color-gray-tint05: #505050;
	--color-gray-tint10: #4E4E4E;
	/*--color-gray-tint20: #;*/
	--color-gray-tint30: #A29D9D;
	--color-gray-tint40: #ABABAB;
	--color-gray-tint50: #E0E0E0;
	
	
	/* White */
	--color-white: #fff;
	
	
	/* Black */
	--color-black: #000;
	--color-black-tint05: #222222;
	--color-black-tint10: #171717;
}
html[lang="ko"] { font: var(--font-weight-400) var(--font-15px)/1.4 var(--font-family-ko); }
html[lang="en"] { font: var(--font-weight-400) var(--font-15px)/1.4 var(--font-family-en); }
html[lang="ja"] { font: var(--font-weight-400) var(--font-15px)/1.4 var(--font-family-ja); }


/* font-weight */
.regular {
	font-family: 'Pretendard-regular';
}
.medium {
	font-family: 'Pretendard-medium';
}
.semibold {
	font-family: 'Pretendard-semibold';
}
.bold {
	font-family: 'Pretendard-bold';
}

.InterBold {
	font-family:'Pretendard-bold';
}
.InterRegular {
	font-family: 'Pretendard-regular';;
}
.RobotoMedium {
	font-family: 'Roboto-Medium';
}
.RobotoRegular {
	font-family: 'Roboto-Regular';
}

html[lang="ko"] { 
	font: var(--font-weight-400) var(--font-size-16px)/1.4 var(--font-family-InterRegular); 
}



/* media */
@media (min-width: 1281px){
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-1380)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1380)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1380)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-1380)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-1380)); height: calc(var(--icon-70px) + var(--media-icon-1380)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-1380)); height: calc(var(--icon-35px) + var(--media-icon-1380)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1380)); height: calc(var(--icon-30px) + var(--media-icon-1380)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1380)); height: calc(var(--icon-24px) + var(--media-icon-1380)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-1380)); height: calc(var(--icon-23px) + var(--media-icon-1380)); }
	.headerTop {
		width: 280px;
		height: 70px;
	}
}
@media (max-width: 1280px){
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-1280)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1280)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1280)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-1280)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-1280)); height: calc(var(--icon-70px) + var(--media-icon-1280)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-1280)); height: calc(var(--icon-35px) + var(--media-icon-1280)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1280)); height: calc(var(--icon-30px) + var(--media-icon-1280)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1280)); height: calc(var(--icon-24px) + var(--media-icon-1280)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-1280)); height: calc(var(--icon-23px) + var(--media-icon-1280)); }
	.headerTop {
		width: 280px;
		height: 70px;
	}
}
@media (max-width: 1060px) {
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-1060)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-1060)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-1060)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-1060)); }
	
	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-1060)); height: calc(var(--icon-70px) + var(--media-icon-1060)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-1060)); height: calc(var(--icon-35px) + var(--media-icon-1060)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-1060)); height: calc(var(--icon-30px) + var(--media-icon-1060)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-1060)); height: calc(var(--icon-24px) + var(--media-icon-1060)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-1060)); height: calc(var(--icon-23px) + var(--media-icon-1060)); }
	.headerTop {
		width: 270px;
		height: 60px;
	}
}

@media (max-width: 740px) {
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-740)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-740)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-740)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-740)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-740)); height: calc(var(--icon-70px) + var(--media-icon-740)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-740)); height: calc(var(--icon-35px) + var(--media-icon-740)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-740)); height: calc(var(--icon-30px) + var(--media-icon-740)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-740)); height: calc(var(--icon-24px) + var(--media-icon-740)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-740)); height: calc(var(--icon-23px) + var(--media-icon-740)); }
	.headerTop {
		width: 260px;
		height: 60px;
	}
}

@media (max-width: 580px) {
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-580)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-580)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-580)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-580)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-580)); height: calc(var(--icon-70px) + var(--media-icon-580)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-580)); height: calc(var(--icon-35px) + var(--media-icon-580)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-580)); height: calc(var(--icon-30px) + var(--media-icon-580)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-580)); height: calc(var(--icon-24px) + var(--media-icon-580)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-580)); height: calc(var(--icon-23px) + var(--media-icon-580)); }
	.headerTop {
		width: 234px;
		height: 53px;
	}
}

@media (max-width: 420px) {
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) + var(--media-font-420)); }
	.font_14px { font-size: calc(var(--font-14px) + var(--media-font-420)); }
	.font_15px { font-size: calc(var(--font-15px) + var(--media-font-420)); }
	.font_18px { font-size: calc(var(--font-18px) + var(--media-font-420)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) + var(--media-icon-420)); height: calc(var(--icon-70px) + var(--media-icon-420)); }
	.icon_35 { width: calc(var(--icon-35px) + var(--media-icon-420)); height: calc(var(--icon-35px) + var(--media-icon-420)); }
	.icon_30 { width: calc(var(--icon-30px) + var(--media-icon-420)); height: calc(var(--icon-30px) + var(--media-icon-420)); }
	.icon_24 { width: calc(var(--icon-24px) + var(--media-icon-420)); height: calc(var(--icon-24px) + var(--media-icon-420)); }
	.icon_23 { width: calc(var(--icon-23px) + var(--media-icon-420)); height: calc(var(--icon-23px) + var(--media-icon-420)); }
	.headerTop {
		width: 214px;
		height: 48px;
	}
}

@media (max-width: 320px) {
	/* 폰트 사이즈 */
	.font_13px { font-size: calc(var(--font-13px) - var(--media-font-320)); }
	.font_14px { font-size: calc(var(--font-14px) - var(--media-font-320)); }
	.font_15px { font-size: calc(var(--font-15px) - var(--media-font-320)); }
	.font_18px { font-size: calc(var(--font-18px) - var(--media-font-320)); }

	/* 아이콘 사이즈 */
	.icon_70 { width: calc(var(--icon-70px) - var(--media-icon-320) - var(--bottom-btn)); height: calc(var(--icon-70px) - var(--media-icon-320) - var(--bottom-btn)); }
	.icon_35 { width: calc(var(--icon-35px) - var(--media-icon-320)); height: calc(var(--icon-35px) - var(--media-icon-320)); }
	.icon_30 { width: calc(var(--icon-30px) - var(--media-icon-320)); height: calc(var(--icon-30px) - var(--media-icon-320)); }
	.icon_24 { width: calc(var(--icon-24px) - var(--media-icon-320)); height: calc(var(--icon-24px) - var(--media-icon-320)); }
	.icon_23 { width: calc(var(--icon-23px) - var(--media-icon-320)); height: calc(var(--icon-23px) - var(--media-icon-320)); }
	.headerTop {
		width: 150px;
		height: 30px;
	}
}






/* font-color */
.color_Green{
	color: var(--color-Green);
}
.color_Blue{
	color: var(--color-Blue);
}
.color_gray{
	color: var(--color-gray);
}
.color_gray05{
	color: var(--color-gray-tint05);
}
.color_gray10{
	color: var(--color-gray-tint10);
}
.color_gray20{
	color: var(--color-gray-tint20);
}
.color_gray30{
	color: var(--color-gray-tint30);
}
.color_gray40{
	color: var(--color-gray-tint40);
}
.color_gray50{
	color: var(--color-gray-tint50);
}
.color_white{
	color: var(--color-white);
}
.color_black{
	color: var(--color-black);
}
.color_black05{
	color: var(--color-black-tint05);
}



/* svg */
.svg_default {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}
.header {
    background-image: url('../img/header.svg');
	
}
.headerTop {
    background-image: url('../img/headerTop.svg');
}
.send_icon {
    background-image: url('../img/send_icon.svg');
}
.icon3 {
    background-image: url('../img/3.svg');
}
.icon4 {
    background-image: url('../img/4.svg');
}
.people_icon {
    background-image: url('../img/people_icon.svg');
}
.plusGreen_icon {
    background-image: url('../img/plusGreen_icon.svg');
}
.text_icon {
    background-image: url('../img/text_icon.svg');
}
.backbutton_icon {
    background-image: url('../img/backbutton_icon.svg');
}
.heart_icon {
    background-image: url('../img/heart_icon.svg');
}
.message_icon {
    background-image: url('../img/message_icon.svg');
}
.dot_icon {
    background-image: url('../img/dot_icon.svg');
}
.attachment_icon {
    background-image: url('../img/attachment_icon.svg');
}


.back_btn {
    background-image: url('../img/back_btn.svg');
}
.Home_btn {
    background-image: url('../img/Home_btn.svg');
}
.myPage_btn {
    background-image: url('../img/myPage_btn.svg');
}
.community_btn {
    background-image: url('../img/community_btn.svg');
}
.model3d_btn {
    background-image: url('../img/3d_btn.svg');
}
.plus_btn {
    background-image: url('../img/plus_btn.svg');
}


.bell_icon {
    background-image: url('../img/bell_icon.svg');
}
.camera_icon {
    background-image: url('../img/camera_icon.svg');
}
.delete_icon {
    background-image: url('../img/delete_icon.svg');
	margin: 10px 1px;
}
.LinkSimpleBreak_icon {
    background-image: url('../img/LinkSimpleBreak_icon.svg');
	margin: 10px 1px;
}
.playCircle_icon {
    background-image: url('../img/playCircle_icon.svg');
}
.plus_icon {
    background-image: url('../img/plus_icon.svg');
}
.video_icon {
    background-image: url('../img/video_icon.svg');
}


.heartRed_icon {
    background-image: url('../img/heartRed_icon.svg');
}
.send_icon {
    background-image: url('../img/send_icon.svg');
}
.see_icon {
    background-image: url('../img/see_icon.svg');
}
.msg_icon {
    background-image: url('../img/msg_icon.svg');
}


.test_img{
	background-image: url(../img/test.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 375px;
    width: 100%;
	margin: 1px 0;
}


/* mainPage */
.main{
	background-color: var(--color-black-tint05);
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
}
.main > .main_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px;
}
.main > .sub_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5px;
	background-color: var(--color-gray-tint05);
	padding: 5px 10px 5px 5px;
}
.main > main{
	overflow-y: scroll;
	padding: 10px;
	height: 100%;

}
.main > footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.main .card{
	padding: 14px;
    border-bottom: solid 1px var(--color-white);

}
.main .card_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding:  0 0 12px 0;
}
.main .card_header > div{
	display: flex;
    align-items: flex-end;
}
.main .card_header span{
	margin-left: 10px;
}
.main .card_text_header{
	padding:  0 0 12px 0;
}
.main .card_text_content{
	padding:  0 0 0 0;
}
.main .card_day {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom:  12px;
}
.main .card_bottom{
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px var(--color-white);
	border-bottom: solid 1px var(--color-white);
}
.main .card_bottom > div{
	display: flex;
    align-items: center;
	justify-content: center;
    width: 50%;
    padding: 10px;
} 
.main .card_bottom > div:first-child{
    border-right: solid 1px var(--color-white);
} 

.main .card_bottom > div >div:last-child{
	margin-left: 10px;

}





/* ravizCommon */
body{
	background-color: var(--color-black-tint05);
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
}
 .main_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px;
}
 .sub_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 5px;
	background-color: var(--color-gray-tint05);
	padding: 5px 10px 5px 5px;
}

main{
	overflow-y: scroll;
	padding: 10px;
	height: 100%;

}
 footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.bottom_box{
	display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2;
}
.bottom_box_center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
	flex: 1;
}

/* mainPage */
.main .card{
	padding: 14px;
    border-bottom: solid 1px var(--color-white);
}
.main .card_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding:  0 0 12px 0;
}
.main .card_header > div{
	display: flex;
    align-items: flex-end;
}
.main .card_header span{
	margin-left: 10px;
}
.main .card_text_header{
	padding:  0 0 12px 0;
}
.main .card_text_content{
	padding:  0 0 0 0;
}
.main .card_day {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom:  12px;
}
.main .card_bottom{
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px var(--color-white);
	border-bottom: solid 1px var(--color-white);
}
.main .card_bottom > div{
	display: flex;
    align-items: center;
	justify-content: center;
    width: 50%;
    padding: 10px;
} 
.main .card_bottom > div:first-child{
    border-right: solid 1px var(--color-white);
} 

.main .card_bottom > div >div:last-child{
	margin-left: 10px;

}




/* detailView */
.detailView .card{
	padding: 14px;

}
.detailView .card_header{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding:  0 0 12px 0;
}
.detailView .card_header > div{
	display: flex;
    align-items: flex-end;
}
.detailView .card_header span{
	margin-left: 10px;
}
.detailView .card_text_header{
	padding:  0 0 12px 0;
}
.detailView .card_text_content{
	padding:  0 0 0 0;
}
.detailView .card_day {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom:  12px;
}
.detailView .card_bottom{
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px var(--color-white);
	border-bottom: solid 1px var(--color-white);
}
.detailView .card_bottom > div{
	display: flex;
    align-items: center;
	justify-content: center;
    width: 50%;
    padding: 10px;
} 
.detailView .card_bottom > div:first-child{
    border-right: solid 1px var(--color-white);
} 
.detailView .card_bottom > div >div:last-child{
	margin-left: 10px;
}

.detailView .card_detail{
	padding: 8px 8px 24px 8px;
}
.detailView .card_detail > div{
	text-decoration:underline;
}
.detailView  a { text-decoration: underline; color: var(--color-Blue) !important; word-wrap: break-word;}

.detailView .card_icon{
	display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.detailView .box_l{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.detailView .box_l >div{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.detailView .box_l >div >div{
	margin-right: 10px;
}
.detailView .box_r{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.detailView .card_comment{
	padding: 10px 0;
    border-bottom: solid 1px var(--color-white);
}

.detailView .card_comment:first-child{
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailView .card_comment:last-child{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailView .card_comment >.card_comment_l{
	width: 84%;
    background-color: var(--color-gray-tint10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 70px;
    margin: 8px;
	padding: 3px;
}
.detailView .card_comment >.card_comment_l input{
	border: none; 
	background: transparent;
}

.detailView .card_comment >.card_comment_l  input::placeholder {
    color: var(--color-white);
}
.detailView .card_comment >.card_comment_r{
	width: 16%;
    background-color: var(--color-gray-tint10);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
	margin: 8px;
}

.detailView .comment_box{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px 14px 14px 14px ;
}
.detailView .comment_box >div{
	display: flex;
    align-items: flex-end;
    justify-content: flex-start
}
.detailView .comment_box >div >div{
	margin-right: 4px;
}
.detailView .comment_content{
	padding: 0 28px;
}
.detailView .moreMenuBtn{
	position: relative;
}

.detailView .moreMenu_box{
	display: none;
	position: absolute;
	left: -47px;
    top: 21px;
    background-color: var(--color-black-tint10);
    border-radius: 15px;
	padding: 0 5px;
}
.detailView .moreMenu_box> div{
	padding: 8px 16px;
}
.detailView .moreMenu_box> div:first-child{
	border-bottom: solid 2px var(--color-white);
}
.show{
	display: block !important;
}





/* CreatePage */
.create input::-webkit-input-placeholder { 
	color: var(--color-gray-tint40); 
	
}
.create textarea::-webkit-input-placeholder { 
	color: var(--color-gray-tint40); 
	
}
.create textarea::placeholder {
	padding: 10px; /* 패딩 설정 */
}
.create input{
	border: none; 
	background: transparent;
}
.create textarea{
	border: none; 
	background: transparent;
	width: 100%;
	min-height: 300px;
}
.create main header{
	display: flex;
    justify-content: flex-start;
    align-items: center;
	padding: 26px 26px 30px 26px;
}
.create .textarea_box{
	display: flex;
    align-items: flex-start;
	justify-content: flex-start;
    /*min-height: 500px;*/
	padding: 0 26px;
	width: 100%;
    
}
.create main{
	overflow-y: hidden !important;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create .content_box{
	overflow-y: scroll;
}
.create .option_box{
	display: flex;
	justify-content: center;
    margin: 14px 14px 0 14px;
    border-top: solid 1px var(--color-white);
}
.create .option_box > article:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-right: solid 1px var(--color-white);
    padding: 10px;

}

.create .option_box > article:last-child{
	width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.create  a { text-decoration: underline; color: var(--color-Blue) !important;  word-wrap: break-word;}


/*create_sub*/

.create_sub > main > section:first-child{
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.create_sub .textarea_box > div:first-child{
	width: 100%;
}

.data_none{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: solid 1px var(--color-white);
	border-top: solid 1px var(--color-white);
	padding: 50px 0;
	margin-top: 50px;
}

.data_none > div{
	text-align: center;
}
